@charset "UTF-8";


.icon-youtube:before { content: '\55'; } /* 'U' */
.icon-drupal:before { content: '\e4'; } /* 'ä' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-plus-circled:before { content: '\2795'; } /* '➕' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-flickr-circled:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-pin:before { content: '📌'; } /* '\1f4cc' */